@use '../variables';

/* シンプルな例 */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
img,
strong,
sub,
sup,
ul,
li,
table,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
